APP_PORT=8001
MONGO_PORT=27017
MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=1688_site

BACKEND_URL=http://localhost:8001

ADMIN_SECRET_TOKEN=1234

SECRET_KEY=""
ALGORITHM=""
ACCESS_TOKEN_EXPIRE_MINUTES=""


Publishablekey=""
Secretkey=""





